<md-content>
    <md-card>
        <p>
            <h4>Şarlatan Uygulaması Üyelik Sözleşmesi ve Kullanım Koşulları ( EULA )</h4>
            Taraflar ve Sözleşme’nin Kurulması
            İşbu Üyelik Sözleşmesi (“Sözleşme”) , Şarlatan Uygulaması (“Şarlatan”) ile diğer taraftan uygulamayı
            yükleyen ve sözleşmeyi kabul eden kişi (“Üye”) arasında aşağıdaki hüküm ve şartlar çerçevesinde
            akdedilmektedir.İşbu Sözleşme kapsamında Sahip( Şarlatan Mobil Uygulamasının Geliştiricisi ve hak sahibi
            Furkan Katman) ve Üye birlikte , “Taraflar” olarak anılacaktır. İşbu
            Sözleşme kapsamında Sahip’e ait olan Şarlatan Mobil
            Uygulaması üzerinden sunulan her türlü ( birlikte “Platform” olarak anılcaktır. ) faydalanacak olan Üye ,
            işbu Sözleşme’nin , Platformun kullanımı ile birlikte yürülüğe gireceğini ve Sözleşme’de yer alan
            düzenlemelere uygun davranmakla yükümlü olduğunu bilmektedir.
            Sözleşme'nin Konusu
            Platform, üyelerin sahipleri oldukları akıllı telefonlarından Şarlatan ile ilgili haberleri
            etkinlikleri takip etmelerine yardımcı olan bir ortamdır. İşbu Sözleşme’nin
            konusu , Üye’nin Platform’tan faydalanmasına ilişkin olarak Şarlatan ile Üye’nin hak ve yükümlülüklerini
            düzenlemekten ibarettir.
            Platform İçeriği ve Üye İçeriği
            Şarlatan a ait olan Şarlatan Mobil Uygulaması içerikleri ,
            bir diğer ifadeyle Platform üzerinde yer alan her türlü içerik , sadece Üye’nin kullanımı içindir ve içerik
            , sadece işbu Sözleşme’de belirtilen hükümlere uygun olarak kullanılabilir. Platform internet ortamında,
            mobil telefonlarda, akıllı TV sistemlerinde veya benzer platformlarda yayın yapabilir. Platform üzerinde Üye
            tarafından oluşturulan ve/veya eklenen her türlü yazılı , görsel veya sesli grafik “Üye İçeriği” olarak
            kabul edilip Üye, üye içeriği açısından , 5681 Sayılı Internet Ortamında Yapılan Yayınların Düzenlemesi ve
            Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun çerçevesinde içerik sağlayıcı olarak
            hareket etmektedir.
            4. Üyelik İle İlgili Koşullar
            İşbu Sözleşme ile ilgili politika ve kuralları kabul eden ve uygulamayı yükleyen kişi otomatik üye olur. Üye
            Platform üzerindeki üyeliğini dilediği zaman ve herhangi bir gerekçe göstermeden Şarlatan a
            Şarlatan@gmail.com adresinden ulaşarak talep açarak sonlandırabilir. Platform’da bulunan yazılım ,görsel
            ve tasarımların ,yazıların ,logoların ,grafiklerin her türlü hakkı Şarlatan a aittir. Platform’un
            tasarımında , içeriğinde ve veri tabanı oluşturulmasında kullanılan bilgi ve/veya yazılımın kopyalanması
            ve/veya Platform’dan faydalanmanın ötesinde kullanılması , ayrıca Şarlatan ’ın daha önceden yazılı onayı
            olmaksızın , Platform dahilinde bulunan her türlü içerik ,bilgi ,resim vb. verilerin kopyalanması
            ,dağıtılması ,işlenmesi ve sair şekillerde kullanılması kesinlikle yasaktır. Üye , herhangi bir şekilde
            Şarlatan’ın ticari ünvanını ,markasını ,hizmet markasını ,logosunu ,alan adını ve diğer varlıklarını
            Şarlatan’ın önceden yazılı izni olmadan kullanamaz. Üye, Platform’da oluşturduğu her türlü içeriğin fikri
            mülkiyet haklarının Şarlatan’a ait olduğununu; söz konusu içeriklerin, 5846 sayılı Fikri ve Sanat Eserleri
            Kanunu'ndan kaynaklanan devredilebilir tüm mali hakları ile birlikte (işleme, çoğaltma, temsil, umuma arz,
            yayma) herhangi bir bedel talep edilmeksizin süre, yer, coğrafi bölge ve muhteva açısından münhasır olmayan
            biçimde Şarlatan’a devredileceğini; Şarlatan’ın, bu hak doğrultusunda bahse konu içerikleri, çevrim içi
            ve çevrim dışı her türlü mecrada ticari ya da ticari olmayan amaçlar için kullanabileceğini kabul ve taahhüt
            eder. İşbu Sözleşme kapsamında tesis edilen taahhütlerden bağımsız bir taahhüt olarak, Madde 5.11’de
            belirtilen hükümler, üyeliğin herhangi bir şekilde sona ermesinden sonra da yürürlükte olacaktır. Üye’nin
            (I) Platform’un güvenliğini tehdit edebilecek, Platform’a ait yazılımların çalışmasını veya diğer Üye’nin
            Platform’dan faydalanmasını engelleyebilecek herhangi bir girişimde bulunması, (II) Platform’a bu sonuçları
            verecek şekilde orantısız yük bindirmesi; Platform’da yayımlanmış bilgi ve içeriklere yetkisiz bir şekilde
            erişmesi, bu bilgi ve içerikleri kopyalaması, silmesi, değiştirmesi ya da bu yönde denemeler yapması; (III)
            Platform’un genel güvenliğini tehdit edecek ve/veya Platform, Şarlatanve diğer üyelere zarar verebilecek
            eylemlerde bulunulması; (IV) Platform’un ve kullanılan yazılımların çalışmasını engelleyecek yazılımların
            kullanılması, kullanılmaya çalışılması veya her türlü yazılım, donanım ve sunucuların çalışmasının
            aksatılması, bozulmasına yol açılması, tersine mühendislik yapılması, saldırılar düzenlenmesi, meşgul
            edilmesi veya sair surette müdahale edilmesi kesinlikle yasaktır. Üye, Platform’u, (I) üçüncü şahısların
            fikri mülkiyet haklarını, kişisel verilerini ve/veya kişilik haklarını ihlal edecek bir biçimde kullanmamayı
            (IV) küfür ve sövme dahil genel ahlaka aykırı, (III) politik görüş yansıtan, (IV) müstehcen, ırkçı, ayrımcı,
            kamu düzenini bozabilecek ya da tehditkâr unsurlar içeren içerikler oluşturmamayı ve/veya paylaşmamayı
            taahhüt eder. Üçüncü kişilerin fikri mülkiyet hakları ile sair haklarının ihlal edildiğinin tespiti ya da
            Madde 5.13.’te sayılan hususlar da dahil olmak üzere Türk Ceza Kanunu, Türk Ticaret Kanunu, Borçlar Kanunu,
            Fikir ve Sanat Eserleri Kanunu da dahil olmak üzere Türk Hukuku’na, genel ahlaka ve kamu düzenine aykırı bir
            içeriğe yönelik şikayet alınması veya içeriğin doğrudan Şarlatantarafından tespit edilmesi durumunda,
            Şarlatan, herhangi bir bildirimde bulunulmaksızın ilgili Üye’nin Platform’dan faydalanmasını
            kısıtlayabilecek ve/veya Üyeliğini sona erdirebilecektir. Şarlatan’ın herhangi bir sebep göstermeksizin ve
            herhangi bir ihbarda bulunmaksızın işbu Sözleşme’yi ve Platform üzerinden yayınladığı sair koşulları,
            dilediği zamanda tek taraflı olarak değiştirme, bunlara ilavede bulunma veya yenileme ve Platform’u yeniden
            organize etme, Platform’un konu, kapsam ve içeriğini değiştirme, yayını durdurma hakkı saklıdır. Platform’un
            kullanımına ilişkin her türlü yasal, idari ve cezai sorumluluk Üye’ye aittir. Şarlatan, Üye’nin, Platform
            üzerinde gerçekleştirdiği faaliyetler ve/veya işbu Sözleşme ve yasaya aykırı eylemleri neticesinde üçüncü
            kişilerin uğradıkları veya uğrayabilecekleri zararlardan doğrudan ve/veya dolaylı olarak hiçbir şekilde
            sorumlu tutulamaz. Üçüncü kişilerden bu kapsamda gelecek her türlü talep ile Üye’nin, Sözleşme’de belirtilen
            yükümlülüklerini yerine getirmemesinden dolayı Şarlatan’ın uğrayacağı zararlar, Üye’ye rücu edilecektir.
            Sorumluluk Sınırları
            1. Platform ve Platform kapsamındaki özellikler ve sair içerikler olduğu gibi sunulmakta olup, bu kapsamda
            Şarlatan’ın bunların doğruluğu, tamlığı ve güvenilirliği ile ilgili herhangi bir sorumluluk ya da taahhüdü
            bulunmamaktadır. 2. Şarlatan, işbu Sözleşme kapsamında ticari elverişlilik, belli bir amaca veya kullanıma
            uygunluk veya ihlalin söz konusu olmamasına ilişkin olarak açık veya zımni herhangi bir taahhütte
            bulunmamaktadır. 3. Üye, Platform’un işleyişinin kusurdan ari olmadığını ve zaman zaman teknik aksaklıklar
            veya erişim engelleriyle karşılaşabileceğini bildiğini kabul ve beyan eder. 4. Platform’da sağlanan
            içerikler üyeler tarafından derlenmekte olup Şarlatan’ın, bunların doğruluğunu ve güncelliğini araştırma
            yükümlülüğü bulunmamaktadır. Üye, bu kapsamda Platform’da sağlanan haber içerikleri bakımından Şarlatan’ın
            herhangi bir sorumluluğu olmadığını kabul ve beyan eder. 5. Platform’da yer alan ve Üye tarafından eklenen
            her içerik açısından, Şarlatan, 5651 Sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu
            Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun uyarınca, “yer sağlayıcı” olup, bahse
            konu üye içeriklerinin hukuka aykırı olup olmadığını re’sen kontrol etmek ile yükümlü olmadığından,
            Şarlatan’a bildirilmeyen ve Üye tarafından oluşturan içeriklerin hukuka uygun olduğu yönünde herhangi bir
            taahhütte bulunmamaktadır. 6. Şarlatan, (i) Üye’nin Platform’u kullanması veya herhangi bir nedenden
            dolayı kullanamaması nedeniyle ortaya çıkacak doğrudan veya dolaylı zararlardan, her türlü kar kaybı, veri
            kaybı, iş kaybı, itibar kaybı, beklenen tasarrufun kaybı, işin kesintiye uğraması gibi her türlü maddi,
            manevi ve mali zarardan, üçünü kişilerce yapılabilecek tazminat taleplerinden; (ii) tüm donanım, sistem
            yazılımı/diğer yazılımlar ve ağ ilişkili işlevden ve bu nedenle ortaya çıkacak arızalardan; (iii) iletişim
            ağı, internet bağlantısı ve bağlantı hatalarından; (iv) Platform üzerinde Üye veya üçüncü kişiler tarafından
            gerçekleştirilecek her türlü değişiklik, güncelleme ve benzeri çalışmalardan doğacak zararlardan sorumlu
            değildir. 7. Şarlatan, hukukun izin verdiği çerçevede, kar kaybı, şerefiye ve itibar kaybı dahil ancak
            bunlarla sınırlı olmaksızın Platform’un kullanımı neticesinde meydana gelen hiçbir doğrudan, dolaylı, özel,
            arızi, cezai zarardan sorumlu değildir ve işbu Sözleşme kapsamında ticari elverişlilik, belli bir amaca veya
            kullanıma uygunluk veya ihlalin söz konusu olmamasına ilişkin olarak açık veya zımni herhangi bir taahhütte
            bulunmamaktadır. 8. Üye, Platform üzerinden Şarlatan’ın doğrudan ya da dolaylı kontrolünde olmayan başka
            internet sitelerine ve/veya Platformlara, dosyalara veya içeriklere link (bağlantı) verilebileceğini, üçüncü
            taraflara ait hizmetlerin sunulabileceğini ve bu tür linklerin yöneldiği internet sitesini veya
            işleten/hizmet veren kişiyi desteklemek amacıyla veya internet sitesi veya içerdiği bilgilere yönelik
            herhangi bir türde bir beyan veya garanti niteliği taşımadığını, söz konusu linkler vasıtasıyla erişilen
            mecralar, platformlar, internet siteleri, dosyalar, içerikler, hizmetler veya ürünler veya bunların içeriği
            hakkında Şarlatan’ın herhangi bir sorumluluğu olmadığını kabul ve beyan eder. 9. Üye, Platform üzerinden
            sunulan içeriklere erişimin, Üye’nin Platform’a erişim sağladığı cihazı ve ilgili internet servis
            sağlayıcısından temin edilen hizmetin kalitesine dayandığını ve söz konusu hizmet kalitesinden kaynaklı
            sorunlarda Şarlatan’ın herhangi bir sorumluluğunun bulunmadığını ve Platform’da yapılacak iyileştirme ve
            diğer değişiklikleri uygulamak için Platform’a erişimin engellenebileceğini kabul eder.
            Yükümlülüklerin İhlal Edilmesi Durumu
            üye uygulamadaki her aksiyonundan kendi adına sorumludur.
            Üye’nin, işbu Sözleşme ve Platform içerisinde ayrıca belirtilebilir olan politika ve kurallara riayet
            etmemesi, Üye’nin faaliyetlerinin hukuki, teknik ve bilgi güvenliği anlamında risk oluşturması ya da üyeliğe
            ilişkin yükümlülüklerini ihlal etmesi halinde ya da herhangi bir nedene dayanmaksızın, Şarlatan, Üye’nin
            Platform’dan faydalanmasını, herhangi bir bedel veya tazminat ödemeksizin, geçici ya da sürekli olarak
            sonlandırabilir. 8. Uygulanacak Hukuk ve Yetkili Mahkeme ve İcra Daireleri 1. İşbu Sözleşme ve diğer ilgili
            politika ve koşulların uygulanmasından kaynaklanan uyuşmazlıklar Türk Hukuku’na tabi olup ihtilafların
            çözümünde İstanbul Merkez (Çağlayan) Mahkemeleri ve İcra Daireleri yetkili olacaktır. 9. Muhtelif Hükümler
            Durumu 1. Mücbir sebep sayılan tüm durumlarda, Şarlatan, işbu Sözleşme ile belirlenen edimlerinden
            herhangi birini geç veya eksik ifa etme veya ifa etmeme nedeniyle sorumlu tutulamaz ve mücbir sebep; doğal
            afet, isyan, savaş, grev, lokavt, telekomünikasyon altyapısından kaynaklanan arızalar, elektrik kesintisi ve
            kötü hava koşulları da dâhil ve fakat bunlarla sınırlı olmamak kaydıyla ilgili tarafın makul kontrolü
            haricinde gerçekleşen olaylar olarak yorumlanacak ve mücbir sebep süresince Taraflar’ın edimleri askıya
            alınacaktır. 2. İşbu Sözleşme’de yer alan herhangi bir maddenin yetkili bir mahkeme veya kurul tarafından
            geçersiz veya uygulanamaz ilan edilmesi halinde, söz konusu hüküm, Sözleşme’nin amacına yakın ve geçerli bir
            hükümle değiştirilecektir. 3. Şarlatan, herhangi bir ön bildirimde bulunmaksızın işbu Sözleşme ile ilgili
            politika ve kuralları revize etme hakkına sahip olup, bu hakkın kullanılması halinde, ilgili revize,
            Sözleşme’nin Üye tarafından bir sonraki kullanımı ile birlikte yürürlüğe girecektir. 4. Sözleşme, politika
            ve diğer kuralların, düzenli bir şekilde takip edilmesinden, Üye, bizzat sorumlu olacaktır. 
            İLETİŞİM
            İşbu sözleşme ve/veya Şarlatan hakkında görüş , öneri veya şikayetler ile ilgili Şarlatan@gmail.com
            adresine e-posta gönderebilirsiniz.
            Gizlilik Politikası
            Şarlatan uygulaması sosyalleşme ve dayanışma için yapılmıştır ..Bunlarla beraber uygulamanın sağlıklı
            çalışabilmesi
            için sizlere ait profil bilgilerinizi veritabanımızda tutmaktayız.
        </p>
        <button ng-click="state.go('Register')">Back To Register</button>
    </md-card>
</md-content>